{{>Nav }}
<div class="d-flex align-items-center flex-column full-h">
  <div class="text-center pt-5">
		<img class="w-50" src="/img/logo_recero.png" alt="logo_recero" />
	</div>
  <div class="text-center py-5">
    <a href="/login" class="px-3">Ingresar</a>
    <a href="/register" class="px-3">Regístrate</a>
  </div>
</div>